
<!doctype html>
<html>
<%include header %>

<body>

<p class = "italics">Hello!</p>
<p class = "internalStyle">This website will let you input information about a band. </p>
<div id = "navigation" style = "width:600px">
<ul class = "links">
<a href = "artist/artist">Enter Artist into Database</a><br/>
<a href = "enterMembers/">Enter Band Member into Database</a><br/>
</li>
</ul>


<% include footer %>
