<%include header %>
<html>
  
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript"> 
        $(document).ready(function () {
            $('#user-submit').click(function () {
                var payload = {
                    ID: $('#ID').val(),
                    ArtistName: $('#artist-name').val(),
                    Genre: $('#genre').val(),
                    FormedIn: $('#formed-in').val(),
                    NumMembers: $('#num-members').val()
                };

                console.log(payload);

		 $.ajax({
                    url: "/artist/artist",
                    type: "POST",
                    contentType: "application/json",
                    processData: false,
                    data: JSON.stringify(payload),
                    complete: function (data) {
                        $('#output').html(data.responseText);
                    }
                });
            });
        });

    </script>
  
<body>
	<h3>Enter a band into the database:</h3>
	 Artist: <input id="artist-name" type="text" /> <br />
         Genre: <input id="genre" type="text" /> <br />
         Formed In: <input id="formed-in" type="text" /> <br />
         Number of Members: <input id="num-members" type="text" /> <br />
         <input id="user-submit" type="submit" />
         <p id="output"></p>
<%include footer %>
</body>
</html>
